.cards-container {
  display: flex;
  margin-top: 1rem;
}

.u-display-flex {
  display: flex;
  flex-direction: column;
}

.u-flex-grow {
  flex-grow: 1;
}

.p-card__footer {
  flex-shrink: 0;
  padding: 0.25rem;
}

.p-card {
  margin: 0 0.5rem;
  padding: 1rem 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 4px 8px -4px rgba(128, 0, 128, 1);
}

.category-name {
  text-transform: uppercase;
}

.separator {
  opacity: 0.5;
}

.p-card__inner {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }
  .p-card {
    margin-bottom: 1rem;
  }
}
